<a class="facebook" href="{{ hd.facebook_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3940&c=4635725_SB1&h=63216037cfafff73403f" width="" height="" alt="Hedges Direct on Facebook"></a>
<a class="twitter" href="{{ hd.twitter_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3947&c=4635725_SB1&h=36bc109850dc59273636" width="" height="" alt="Hedges Direct on Twitter"></a>
<a class="gplus" href="{{ hd.gplus_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3941&c=4635725_SB1&h=4a96983550f20d651c5c" width="" height="" alt="Hedges Direct on Google+"></a>
<!-- <a class="pinterest" href="{{ hd.pinterest_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3944&c=4635725_SB1&h=6ff2da05db4148bfb2b1" width="" height="" alt="Hedges Direct on Pinterest"></a> -->
<a class="youtube" href="{{ hd.youtube_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3948&c=4635725_SB1&h=cb26f1a7650eafd92a0c" width="" height="" alt="Hedges Direct on Youtube"></a>
<!-- <a class="linkedin" href="{{ hd.linkedin_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3943&c=4635725_SB1&h=7870b54c93e20f4b6ca6" width="" height="" alt="Hedges Direct on Linkedin"></a> -->
