<a class="facebook" href="{{ hdde.facebook_url }}"><img src="{{ hdde.facebook_logo }}" width="" height="" alt="Hecken Direkt on Facebook"></a>
<a class="twitter" href="{{ hdde.twitter_url }}"><img src="{{ hdde.twitter_logo }}" width="" height="" alt="Hecken Direkt on Twitter"></a>
<a class="gplus" href="{{ hdde.gplus_url }}"><img src="{{ hdde.gplus_logo }}" width="" height="" alt="Hecken Direkt on Google+"></a>
<!-- <a class="pinterest" href="{{ hdde.pinterest_url }}"><img src="{{ hdde.pinterest_logo }}" width="" height="" alt="Hecken Direkt on Pinterest"></a> -->
<a class="youtube" href="{{ hdde.youtube_url }}"><img src="{{ hdde.youtube_logo }}" width="" height="" alt="Hecken Direkt on Youtube"></a>
<!-- <a class="linkedin" href="{{ hd.linkedin_url }}"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3943&c=4635725_SB1&h=7870b54c93e20f4b6ca6" width="" height="" alt="Hedges Direct on Linkedin"></a> -->
