<table>
	<td>
		<tr class="align-center socialbar">
			<a class="facebook" href="{{ hd.facebook_url }}"><img src="{{ hd.facebook_logo }}" width="" height="" alt="Hedges Direct on Facebook"></a>
			<a class="twitter" href="{{ hd.twitter_url }}"><img src="{{ hd.twitter_logo }}" width="" height="" alt="Hedges Direct on Twitter"></a>
			<a class="blog" href="{{ hd.blog_url }}"><img src="{{ hd.blog_logo }}" width="" height="" alt="Hedges Direct Blog"></a>
			<a class="youtube" href="{{ hd.youtube_url }}"><img src="{{ hd.youtube_logo }}" width="" height="" alt="Hedges Direct on Youtube"></a>
		</tr>
	</td>
</table>
